.container {
    margin: 20px;
}
.register-heading{
    text-align: left;
    padding: 10px;
    margin: 10px;
}
.register{
   text-align: center;
   font-weight: 500;
}

.errorStyle {
    color: red;
}

.gender{
    font-weight: 500;
    margin: 20px 0px 0px 0px;
}
input#radio{
    margin: 10px;
}
.profile{
    font-weight:500 ;
    margin: 10px 0px;
} 
.profile-option{
 
    background-color: rgb(245, 129, 129);
    border-radius: 5px;
    border:1px solid rgb(247, 81, 81); 
    color: white;
    padding: 6px;
    margin-bottom: 20px;
    /* position: relative;
    left:10%; */
    width: 50%;
    
}
.register-btn{
    width: 25%;
    display: block !important;
    align-items: center !important;
    margin-left: 10px;
    position: relative;
    left: 30%;
    padding: 6px !important;
    border-radius: 7px !important;
} 
.gen{
    
    margin:10px 30px;
}
