.container {
    /* margin: 20px; */
}

.register-heading {
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.register {
    text-align: center;
    font-weight: 500;
}

.errorStyle {
    color: red;
}

.gender {
    font-weight: 500;
}

input#radio {
    margin: 10px;
}

.profile {
    font-weight: 500;
    margin: 10px 0px;
}

.profile-option {
    border-radius: 5px;
    color: black;
    padding: 6px;
    /* position: relative;
    left:10%; */
    width: 100%;

}

.wedding-image {

    display: inline-block;
    height: 600px;
    margin-top: 20px;

}

.register-btn {
    width: 100%;
    display: inline-block;
    align-items: center !important;


    padding: 6px !important;
    border-radius: 7px !important;
}

.gen {

    margin: 10px 30px;
}

.regspage {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(189 174 174 / 36%);
}

.lol {
    margin-top: 20px;
    text-align: center !important;
    border: 1px solid orange;
    width: 50% !important;
    position: relative;
    left: 23%;
    background: rgb(247, 109, 109);
    border-radius: 5px;
    padding: 5px;

}

.am-text {
    position: relative;
    left: 0%;
    color: red;
    border-top: 1px dashed;
    padding-top: 15px;
    text-align: center;
    margin-top: 20px;

}

.radio-buttons {
    display: flex;
    margin-top: 5px;
}

.form-check {
    margin-right: 20px;
}