.container{
    margin-left: 5px;
}
.home-container {
    margin-left:-12px;
    background:rgb(142 138 138 / 14%)

}
.female-image{
    height: 40%;
}
.progress-bar{
    margin: 5px;
    width: 15vw;
    background-image: linear-gradient(to right, red , yellow);
border-radius: 10px;
}
.side-navbar a {
    display: grid;
    text-decoration: none;
    color:black;
    padding: 5px;
    border-bottom: solid rgba(163, 159, 159, 0.934) 1px;
    opacity: 0.6;
}
.home-sidebar{
    border: solid 1px #bdb5b52b;
    box-shadow: 1px 1px 9px 12px #9b96962b;
    padding-left: 10px;
}
.bk-logo{
    width: 15%;
    height: 20vh;
}
