.family-heading{
    color: rgb(231, 90, 90);

}
.iconcard{
    color: rgb(231, 90, 90);
    margin-right: 15px;
    font-style: 20px;
}

.family-information{
    margin: 10px;
    padding: 10px;
}
.native-information{
    margin: 10px;
    padding: 10px;

}
.family-container{
    margin: 10px;
    padding: 10px;

}
.native-container{
    margin: 10px;
    padding: 10px;
    border-top: 1px  solid rgb(214 218 222 / 48%);
    border-bottom: 1px  solid rgb(214 218 222 / 48%);

}


