
.media-info{
    margin-left: 5px;
    border-top: 1px solid #80808036;
    padding-top: 30px;
    padding-left: 10px;
}
.para{
    /* word-wrap:break-word; */
    text-align: left;
    width: 80%;
}
.upload-ways{
    background:#80808036 ;
    height: 280px;
}
.link{
    margin-bottom: 10px;
  
padding: 8px 0px;
}
.icon{
    color: rgb(250, 85, 85);

}
.icon-button{
    border-radius: 50%;
    
    margin: 8px 10px;
    background: rgb(25, 25, 25);
    padding: 4px 7px;
    font-size: 20px;
}
.image{
    width: 280px;
    height: 280px;
}
.photo{
   
    padding: 20px;
    text-align: center;
}
.computerbtn{
    width: 70%;
}
.facebookbtn{
    width: 70%;
}
.heading-welcome{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.bold-color{
    color: orange;
}